@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500&display=swap");

body {
  background-color: #dadada;
  margin: 0 5%;
  font-family: "Quicksand", sans-serif;
}

header {
  margin: 2% 0;
}

a {
  text-decoration: none;
  color: #000;
}
.title {
  font-size: 2.2rem;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
h3 {
  text-align: center;
}
li {
  font-size: 1.3rem;
}

.center {
  text-align: center;
}

.white {
  color: #fff;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  width: 70%;
}

.btn {
  width: 100px;
  padding: 1%;
  margin-right: 1%;
  border-radius: 5px;
  background-color: #0b6ab0;
  color: #ffffff;
  font-size: 1rem;
}

.arrow-container {
  width: 30%;
  display: flex;
  padding: 1% 0;
  justify-content: flex-end;
  align-content: flex-end;
}

.slides-container {
  background: linear-gradient(165deg, #ffffff 85%, #f36b1c 20%);
  box-shadow: 1px 1px 5px #000;
  border-radius: 10px;
  min-height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.slides {
  padding: 0 1%;
}

.fas {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.fas:nth-last-child(1) {
  margin-right: 0;
}

.page-number {
  background-color: #0b6ab0;
  padding: 1%;
  border-radius: 5px 20px 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  width: calc(100% - 2%);
  padding: 0 1%;
}

@media screen and (max-width: 500px) {
  .page-number {
    padding: 2%;
  }
}
